<% var meta = {
                title:'top',
                slug:'top',
                path:'./'
              }; %><% include _common/_header %>

<div class="people">
  <div class="people__dance -dance01"></div>
  <div class="people__dance -dance02"></div>
  <div class="people__dance -dance03"></div>
  <div class="people__dance -dance04"></div>
  <div class="people__dance -dance05"></div>
  <div class="people__dance -dance06"></div>
  <div class="people__dance -dance07"></div>
  <div class="people__dance -dance08"></div>
  <div class="people__dance -dance09"></div>
  <div class="people__dance -dance10"></div>
  <div class="people__dance -you"></div>
  <div class="people__dance -dance12"></div>
  <div class="people__dance -dance13"></div>
  <div class="people__dance -dance14"></div>
  <div class="people__dance -dance15"></div>
  <div class="people__dance -dance16"></div>
</div>

<% include _common/_footer %>